[Unit]
Description=WinAuth Application
After=network.target

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_dir }}
ExecStart=/usr/bin/java -Dspring.profiles.active=ntlm -Dspring.config.location=file:{{ app_dir }}/application.properties,file:{{ app_dir }}/application-ntlm.properties -jar {{ app_dir }}/winauth-server.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target